<div class="container" style="width: 50%;">
    <form [formGroup]="signupForm" (submit)="performRegistration()">
        <div class="mb-3">
            <label for="email">Enter Email</label>
            <input type="email" placeholder="Enter Email" required class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password">Enter Password</label>
            <input id="password" formControlName="password" required class="form-control" type="password"
                placeholder="Enter Password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input formControlName="confirmPassword" class="form-control" id="confirmPassword" type="password" required
                placeholder="Confirm Password">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>
