<div>
    <div style="width: 50%;" class="container">
        <form [formGroup]="loginForm" (submit)="performLogin()">
            <div class="mb-3">
                <label for="email">Enter Email</label>
                <input id="email" type="email" placeholder="Enter Email" required class="form-control"
                    formControlName="email">
            </div>
            <div class="mb-3">
                <label for="password">Enter Password</label>
                <input class="form-control" type="password" formControlName="password" placeholder="Enter Password"
                    required="" id="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>

    </div>
</div>